body{
    margin: 0 auto;
    background-color:white;
 /   font-family:Georgia, Palatino, serif;
    font-family: 'Autour One';font-size: 22px;
    color: #333333; /* dark gray not black, color of base font */
    max-width: 800px;
    padding: 30px;
    font-size: 18px;
}


p   {
    line-height: 150%;
    font-weight: 400;
     color: #333333
}

h1, h2, h3, h4 {
    font-weight: 500;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
    font-size:300%;
    font-variant:small-caps;
}

h2 {
    font-size:150%;
    margin-bottom: 25px;	
}

/*
The following styles pertain to the way that hyperlinks are styled, 
including differences between active and visited links.
*/
a {
    color: grey;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a:visited {
    color: black;
}

a:hover {
  color: white;
	background-color: black;
}
