body{
    margin: 0 auto;
    background-color:white;
 /   font-family:"Times New Roman", Times, ,serif;
    font-family: 'Autour One';font-size: 22px;
    color: #333333; /* dark gray not black, color of base font */
    max-width: 800px;
    padding: 30px;
    font-size: 18px;
}


p   {
    line-height: 150%;
    font-weight: 400;
     color: #333333
}

h1, h2, {
    font-weight: 500;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
    font-size:300%;
    font-variant:small-caps;
}

h2 {
    	font-size:100%;
   	margin-bottom: 15px;
	font-weight: bold;
	color: green;
}
h3 {
	text-align: center;
		color: brown;
}

/*
The following styles pertain to the way that hyperlinks are styled, 
including differences between active and visited links.
*/
a {
    color: Brown;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a:visited {
    color: Brown;
}

a:hover {
  color: white;
	background-color: Brown;
}
