body {
    background-image: url("new photo.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h {
 
 font-family:Italianno;
 text-align:center;
 color: blue;
 font-size: 65px;
}

h1 {
 
 font-family:Italianno;
 text-align:center;
 color: brown;
 font-size: 50px;
}
    
p {
 
 font-family: Italianno;
 text-align:center;
 color: yellow;
 font-size: 45px;
}
