body {
    background-image: url("new photo.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h2 {
    
 font-family:Italianno;
 text-align:center;
 color:blue;
 font-size: 65px;
}

h1 {
 
 font-family:Italianno;
 text-align:left;
 color:brown;
 font-size: 35px;
}
    
p {
 
 font-family: Italianno;
 text-align:left;
 color: yellow;
 font-size: 20px;
}
