body {
    background-image: url("new photo.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

h1 {
 
 font-family: Italianno;
 text-align:center;
 color: brown;
 font-size: 80px;
}
    
p {
 
 font-family: Italianno;
 text-align:center;
 color: yellow;
 font-size: 80px;
}
